<h2>Cosa è Giua App?</h2>
<p class="lead">Giua-App è una applicazione Open Source per Android rivolta a studenti e genitori che ti permette di visualizzare voti, assenze, lezioni, circolari, compiti e molto altro ancora.</p>

<div class="row centered">
    <div class="col-lg-4">
        <i class="fas fa-bell featureIco"></i>
        <h3>Notifiche</h3>
        <p>Ricevi notifiche per nuove circolari, avvisi, compiti e voti</p>
        <p>Puoi scegliere quali notifiche abilitare dalle Impostazioni</p> 
    </div>
    
    <div class="col-lg-4">
        <i class="fas fa-sign-in-alt featureIco"></i>
        <h3>Login automatico</h3>
        <p>L'app si ricorderà per te le password ed eseguirà automaticamente il login quando scadrà la tua sessione</p>
        <p>Disponibile anche per login Google!</p>
    </div>
    
    <div class="col-lg-4">
        <i class="fas fa-mobile-alt featureIco"></i>
        <h3>Comoda UI</h3>
        <p>Interfaccia grafica pensata apposta per facilitare l'uso del registro</p>
        <p>In pochi click puoi vedere i voti, leggere circolari e avvisi, giustificare assenze, ecc...</p>
    </div>
    

</div>

<div class="row centered space">
    
    <div class="col-lg-4">
        <i class="fas fa-globe featureIco"></i>
        <h3>Offline (in sviluppo)</h3>
        <p>Guarda i tuoi dati ovunque sei, anche offline</p>
    </div>

    <div class="col-lg-4">
        <i class="fas fa-user-lock featureIco"></i>
        <h3>Sicura & Privata</h3>
        <p>I dati vengono memorizzati localmente nel tuo telefono, nessun dato personale viene inviato a terze parti</p>
    </div>

    <div class="col-lg-4">
        <i class="fab fa-osi featureIco"></i>
        <h3>Open Source!</h3>
        <p>L'app del Giua è Open Source</p>
        <p>Contribuisci al codice e migliora l'app!</p>
    </div>
</div>



<!--<h2>Cosa è Giua App?</h2>

<p class="lead">Ecco una lista di <i>alcune</i> delle features presenti:</p>
</p>
<ul>
    <h5>
        <li>Voti
            <ul>
                <li>Guarda tutti i tuoi voti in un unico posto, divisi per materia e quadrimestre</li>
                <li>Leggi gli argomenti e giudizi dei tuoi voti</li>
                <li>L'app ti mostrerà la media matematica delle tue materie</li>
            </ul>
        </li>
        <li>Agenda
            <ul>
                <li>Controlla i compiti e le verifiche per i prossimi giorni</li>
                <li>Leggi gli argomenti dei compiti e il professore che gli ha inseriti</li>
                <li>L'app ti invierà una notifica per nuovi compiti e verifiche (può ritardare fino a un'ora)</li>
            </ul>
        </li>
        <li>Lezioni
            <ul>
                <li>Guarda gli argomenti e attività svolte a lezione</li>
                <li>Guarda la materia e l'orario della lezione</li>
            </ul>
        </li>
        <li>Bacheca
            <ul>
                <li>Controlla i nuovi avvisi o circolari da leggere</li>
                <li>Controlla quali circolari o avvisi hai gia letto oppure no</li>
                <li>L'app ti invierà una notifica per nuove circolari e avvisi (può ritardare fino a un'ora)</li>
            </ul>
        </li>
        <li>Pagella
            <ul>
                <li>Controlla l'esito finale degli scrutini</li>
                <li>Controlla i tuoi crediti</li>
            </ul>
        </li>
    </h5>
</ul>-->