<h2>Come si scarica?</h2>
<p class="lead"><a href="#">Clicca sul pulsante "SCARICA" in alto</a>, verrà scaricato un file APK. 
    Aprendolo il tuo telefono chiederà di disattivare l'<i>installazione da fonti sconosciute</i>, segui le istruzioni a schermo e disattivala.
    Dopodiche verrà installata sul tuo telefono <i>Giua App</i>, e hai finito! A questo punto avrai accesso a tutte le features di Giua App!</p>
<p class="lead">Non dovrai più ripetere questo processo in quanto sarà l'app stessa a notificarti di nuovi aggiornamenti e, a seconda della tua preferenza, anche installarli</p>
