---
layout: default
---

<html>
    <body id="page-top">
        <!-- Page Header -->
        <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
                <div class="container px-4 text-center text-white">
                    <h1 class="fw-bolder position-relative">Giua App</h1>
                    <p class="lead">L'app per registri scolastici "giua@school"</p>
                    <a id="btn-download" class="btn btn-lg btn-light" href="javascript:void(0);" onClick="searchAndDownloadApp();">
                        <i class="fab fa-android" style="margin-right: 10px;"></i>SCARICA</a>
                    <p id="ver-string">...</p>
                </div>
            </div>
        </header>
        <section id="about" class="bg-white bg-solid">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        {% include about.html %}
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light" id="download-info">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        {% include how-to.html %}
                    </div>
                </div>
            </div>
        </section>
        <section id="screenshots">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Screenshots</h2>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/0.png" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/1.png" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/2.png" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/3.png" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/4.png" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/5.png" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/6.png" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/7.png" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/8.png" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/9.png" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-4 mt-3 col-lg-3">
                                    <img src="img/screenshots/10.png" class="img-fluid" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <img src="https://app.piratepx.com/ship?p=6af8462c-efe0-4f9a-96d0-ec9a8bbb9060&i=Website" />
    </body>
</html>
